@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MuseoSans";
}

@font-face {
  font-family: MuseoSans;
  src: url(/public/fonts/MuseoSans-300.otf);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: MuseoSans;
  src: url(/public/fonts/MuseoSans_500.otf);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: MuseoSans;
  src: url(/public/fonts/MuseoSans_700.otf);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.font-poppins {
  font-family: MuseoSans;
}
